     <h1 id="disclaimer">Disclaimer of Liability </h1>
        <div id="disclaimer-container">
            <p>Boundless Bites is not intended as a source of nutritional or food 
                safety advice, and its readers assume full responsibility for any 
                decisions made regarding their own health and safety. 
                The information on this website is not professional medical or 
                nutritional advice and should not be perceived that way.</p>
            <p>Visitors to Boundless Bites should acknowledge that the information
                in the website is provided "as-is" and for general information only. 
                It is not intended as medical advice and should not be relied upon as 
                a substitute for professional consultation with a qualified healthcare 
                provider familiar with your individual dietary and medical needs.</p >
        </div>