<!DOCTYPE html>
<html lang="en">
<head>
    <title>Boundless Bites</title>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
     <link rel="stylesheet" href="/public/assets/css/style.css">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Love+Ya+Like+A+Sister&display=swap" rel="stylesheet">
     
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap" rel="stylesheet">

</head>
<body>
    <p>main</p>
    <h1>Bounless Bites</h1>
<div class="topnav">
    <ul>
    <li><a class="active" href="#home">Home</a></li>
    <li><a href="#signup">Sign Up</a></li>
    <li><a href="#logn">Login</a></li>
    </ul>
</div>

<main>
    {{{ body }}}
</main>