
{{#each restaurants as |restaurant| }}
  {{#if restaurant.is_gluten_free}}
    <div>
      <h2>{{restaurant.id}}</h2>
      <p> cheese</p>
    </div>
  {{/if}}
{{/each}}

{{!-- Container for dietary restrictions --}}
<div id="diet-checkboxes" class="scrollable-container1">
  <h6>Dietary Restrictions</h6>
  <input type="checkbox" id="is_vegetarian">
  <label for="is_vegetarian">Vegetarian</label><br>
  
  <input type="checkbox" id="is_vegan">
  <label for="is_vegan">Vegan</label><br>
  
  <input type="checkbox" id="is_gluten_free">
  <label for="is_gluten_free">Gluten-Free</label><br>
  
  <input type="checkbox" id="is_kosher">
  <label for="is_kosher">Kosher</label><br>
  
  <input type="checkbox" id="is_halal">
  <label for="is_halal">Halal</label><br>
  
  <input type="checkbox" id="is_lowsodium">
  <label for="is_lowsodium">Low Sodium</label><br>
  
  <input type="checkbox" id="is_pescatarian">
  <label for="is_pescatarian">Pescatarian</label><br>

</div>

<script src="/js/homepage.js"></script>