:root {
  --primary: #3d5852;
  --secondary: #86938f;
  --tertiary: #5e877f;
  --quatrinary: white;
  --light: #e3e4e3;
  --dark: #182c23;
  --error: rgb(228, 46, 1);
  --border-radius: 0.3rem;
}

body {
  font-family: Arial;
  margin: 0;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  justify-content: flex-start;
  background-color: var(--quatrinary);
}

.card {
    display: inline-block;
    width: 200px;
    height: 300px;
    margin: 10px;
    border: 1px solid black;
    overflow: hidden;
  }

.card-image {
  width: 100%;
  height: 200px;
}


.scrollable-container {
  height: 200px;
  overflow-y: scroll;
  margin: 20px 0;
}

ul {
    list-style-type: none;
    font-family: 'Oswald', sans-serif;
}

/* Adds background color to the top navigation */
.topnav {
    background-color: var(--secondary);
    overflow: hidden;
  }

    /* Style the links inside the navigation bar */
  .topnav a {
    float: left;
    color: var(--light);
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 20px;
  }

/* Change the color of links on hover */
.topnav a:hover {
    background-color: var(--primary);
    color: var(--secondary);
  }
  
  a {
    color: var(--dark);
    text-decoration: none;
  }
  
  a:visited {
    color: inherit;
  }
  
  header {
    font-family: 'Love Ya Like A Sister', cursive;
    padding: 40px;
    text-align: center;
    background: var(--primary);
    color: var(--light);
  }
  
  main {
    display: flex;
    flex-wrap: wrap;
    flex-grow: 1;
  }
  
  aside {
    flex: 0;
    background-color: var(--tertiary);
    padding: 80px;
    text-align: left;
    color: var(--light);
  }
  
  nav {
    display: flex;
    background-color: var(--secondary);
  }
  
  nav a {
    color: var(--light);
    padding: 14px 20px;
    text-decoration: none;
    text-align: center;
  }
  
  nav a:hover {
    color: var(--secondary);
    background-color: var(--dark);
  }
  
  .gallery {
    flex: 4;
    background-color: #fff;
    padding: 50px;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
  }
  
  .btn-no-style {
    background: none;
    border: none;
    padding: 0;
    cursor: pointer;
    text-decoration: none;
    font-size: 100%;
    transition: color 0.1s;
    margin-left: 16px;
  }
  
  img {
    max-width: 100%;
    height: auto;
  }
  
  .painting {
    width: 50%;
    background-color: white;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    margin-bottom: 25px;
  }
  
  .painting-details {
    text-align: center;
    padding: 10px 20px;
    font-weight: bold;
  }
  
  /* CARDS */
  .card {
    margin: 20px;
    flex: 0 1 300px;
    border: 7px double var(--dark);
    border-radius: 10px;
    background-color: var(--light);
    color: var(--dark);
  }
  
  .login-card {
    margin: 0 0 20px 0;
    flex: 0 0 50%;
    max-width: 50%;
    padding: 5px;
    border: 3px solid var(--dark);
    border-radius: var(--border-radius);
    border-style: double;
    border-width: thick;
    background-color: #577a7c;
    color: var(--light);
  }
  
  .card header {
    color: var(--light);
    font-weight: bold;
    text-transform: uppercase;
    margin: 0;
    background-color: var(--tertiary);
    padding: 0.625rem;
    border-radius: calc(0.18rem - 1px) calc(0.18rem - 1px) 0 0;
  }
  
  .card-body {
    font-size: 1.4rem;
    text-align: center;
    font-weight: bold;
  }
  
  .gallery-name {
    text-transform: uppercase;
    letter-spacing: 3px;
    text-shadow: 2px 2px 5px var(--secondary);
    border: 10px groove var(--light);
    padding-top: 30px;
    padding-bottom: 30px;
    padding-right: 100px;
    padding-left: 100px;
  }
  
  /* LAYOUT */
  .container {
    display: flex;
    flex-flow: column wrap;
    align-content: flex-start;
    align-items: center;
  }


  /*DISCLAIMER*/
  #disclaimer {
    font-family: 'Oswald', sans-serif;
    color: var(--secondary);
    flex: 4;
    background-color: var(--primary);
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
  }
  #disclaimer-container {
    background-color: var(--primary);
    font-family: 'Oswald', sans-serif;
    color: var(--secondary);
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
}

p {
  font-size: 36px;
}
  

/* scrollbar styling */
  .scrollable-container1 {
    height: 200px;
    width: 200px;
    overflow-y: scroll;
    border: 1px solid black;
    margin-left: auto;
    flex-direction: column;
    display: flex;
    display: inline-block;
    justify-content: flex-end;
    align-items: flex-end;
  }

  .scrollable-container2 {
    height: 200px;
    width: 200px;
    overflow-y: scroll;
    border: 1px solid black;
    margin-left: 1000;
    flex-direction: column;
    display: flex;
    display: inline-block;
    justify-content: flex-end;
    align-items: flex-end;
  }

  .checkbox-label {
    display: in;
  }
  /*item for scrollbar*/
  .item {
    padding: 10px;
  }

  input {
    flex: none;
  }
/* styling for plus button */
  button {
    background-color: transparent;
    border: 2px solid black;
    padding: 10px 20px;
    transition: background-color 0.5s ease;
  }
  
  button:hover {
    background-color: rgba(0, 0, 0, 0.5);
    cursor: pointer;
  }
  
  .textbox {
    display: none;
    width: 500px;
    height: 200px;
    border: 2px solid black;
  }

  #idContainer
{
  display: flex;
  flex-direction: column;
  text-align: center;
}

#idImage
{
  border: solid black;
  min-width: 440px;
  min-height: 240px;
  max-width: 440px;
  max-height: 240px;
}

